.header-contact {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.415), rgba(229, 18, 18, 0)),
		url(/assets/images/header-landscape-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 400px;
	overflow: hidden;
	position: relative;
}

.header-wrapp {
	display: flex;
	padding: 2rem 3rem;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 2rem auto;
	align-items: center;
	justify-content: space-between;
}

.header-contact .nav-ul-li-a {
	color: var(--details-color);
	font-size: 1.8rem;
	font-weight: 500;
}

/* logo */
.header-logo {
	max-width: 13rem;
}

.contact-info-container-header h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact-container {
	margin: 0 auto;
	width: 90%;
	padding: 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-info-container {
	margin-bottom: 100px;
}
.contact-info-container h4 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.contact-info-container h5 {
	margin-bottom: 10px;
}

.input-group {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.input-group label {
	width: 100%;
	margin-left: 10px;
	text-align: left;
}

.input-group input,
.input-group textarea {
	flex: 1;
	min-width: 50%;
}

.form-container h3 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.form-container {
	margin-top: 20px;
	background: #e6f0f1;
	padding: 20px;
	border: 1px solid #ccc;
}

.form-container .submit-btn {
	min-width: 100px;
	margin-top: 20px;
}

.contact-container-header {
	background-color: rgba(65, 105, 225);
	text-align: center;
	padding: 20px;
}

.contact-container-header h2 {
	color: white;
}

/* navigation in navigation style */

@media (min-width: 820px) {
	.header-logo {
		max-width: 18rem;
	}
}

@media (min-width: 1200px) {
	.header-wrapp {
		padding: 2rem 6rem;
	}

	.header-logo {
		max-width: 24rem;
	}

	.input-group input,
	.input-group textarea {
		min-width: 600px;
	}
}
