.header {
  max-width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.415), rgba(229, 18, 18, 0)),
    url(/assets/images/header-portrait-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 900px;
  padding: 2rem 3rem;
  overflow: hidden;
  position: relative;
}

.header-wrapp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.header-logo {
  max-width: 13rem;
}

@media (min-width: 650px) {
  .header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.515),
        rgba(255, 255, 255, 0)
      ),
      url(/assets/images/header-landscape-bg.jpg);
  }
}
