.info {
  text-align: center;
  padding: 5rem 0;
}

.info-title {
  margin-bottom: 1rem;
}

.info-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.info-cards-card {
  background-color: #0074d93a;
  width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 2rem 1rem;
  max-width: 350px;
}

.info-cards-card h3 {
  margin-bottom: 1.5rem;
}

@media (min-width: 750px) {
  .info-cards {
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
    justify-content: space-between;
  }

  .info-cards-card {
  }
}
