:root {
  --bg-color: #ffffff;
  --primary-color: #22c6b0;
  --secondary-color: #353535;
  --heading-color: #3b4972;
  --regular-color: #1a1a1a;

  --primary-text: clamp(2.5rem, 5vw, 3.5rem);
  --secondary-text: clamp(2rem, 5vw, 2rem);
  --regular-text: clamp(1.6rem, 2vw, 1.8rem);
}
